/* Base HTML Styles */


:root {
	--orange: #fb9b24;
	--lightblue: #B7E3E4;
	--red: #F03F35;
	--black: #111111;
	--blue: #E4F6F8;
	--gray: #c3c3c3;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles  */

label, input, textarea, select {
    display: block;
    width: 100%;
}

input, select, textarea {
    padding: 8px;
}

/* Header */

header {
	background-color: white;
	margin-top: 30px;
}

header h1 a img {
	padding: 16px;
	height: 100px;
	width: 100px;
	margin-left: 20px;
}

nav a {
    text-decoration: none;
	font-weight: bold;
    color: var(--red);
	float: right;
	padding: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

/* Homepage */

#intro {
    background-color: var(--blue);
    padding: 20px; 
	overflow: hidden;
}

#intro img {
	width: 600px;
	float: left;
	margin-right: 20px;
	margin-left: 15px;
}

#intro h2 {
	margin-top: 30px;
    color: var(--red);
    font-size: 24px; 
	display: inline-block;
}

#intro h3 {
    color: var(--red);
    font-size: 24px; 
	font-size: 15px;
	margin-top: 10px;
}

@media (min-width: 768px){
    .photoofme {
        width: 25%;
		height: 25%;
}
}

@media (min-width: 768px){
    #aboutme {
        padding-bottom: 10%;
}
}

#projectslink {
	border: 2px solid var(--red);
	padding: 10px;
	display: block;
	margin: 20px 50px;
	text-align: center;
}

#projectslink a {
	text-decoration: none;
	color: var(--red);
	font-weight: bold;
	font-size: 24px;
}

/* Projects  */

.articles {
	width: auto;
	display: flex;
	flex-direction: column;
	padding: 16px;
	margin: 15%;
	align-items: center;
	background-color: var(--red);
	border-color: var(--red);
	border-radius: 3%;
	color: white;
	text-align: center;
}

.articles h2 {
	padding: 16px;
	padding-top: 16px;
}

.articles p {
	padding: 8px;
}

.articles img {
	width: 20%;
	height: auto;
}

@media (min-width: 768px){
    #projects {
        display: flex;
		padding: 5%;
}
}

@media (min-width: 768px){
    #projects .articles {
        display: flex;
		margin: 2%;
		width: 100%;
}
}

/* myself */

#myself {
	padding: 24px;
	background-color: var(--blue);
	text-align: center;
}

#myself img {
	width: 3%;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

@media (max-width: 768px){
    #myself img {
		width: 10%;
}
}

footer {
    padding: 16px;
    text-align: center;
}

/* contact */

#contact {
    padding: 48px 16px;
}

#contact input, #contact select {
    margin-bottom: 16px;
}

#contact h2 {
    margin-bottom: 16px;
}

#contact p {
	text-align: center;
	font-weight: bold;
}

@media (min-width: 768px){
    #contact h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    #contact form {
        max-width: 60%;
        margin: 40px auto;
    }
}

#contact input[type="submit"]{
    background-color: var(--pink);
    border: 0;
    margin-top: 8px;
    cursor: pointer;
}